body {
	background-color: burlywood;
}

.menu, #header button:hover, #header button:focus {
	background-color: lightsalmon;
}

#header button.search:hover {
	background-color: white;
}

#header ul {
	padding-right: 1%;
}

#content {
	margin-top: 70px;
}

#content h2, #content ul {
	background-color: sandybrown;
}

#content h2 {
	text-align: center;
}

#content ul {
	padding-left: 5%;
	list-style-type: none;
}

.item img {
	height: 300px;
	margin-top: 3%;
}

#footer {
	text-align: center;
	color: #777;
}

.resultante, #index table {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

#index table {
	background-color: white;
	margin-bottom: 1%;
}

#index th, #index td {
	text-align: center;
	width: 200px;
}

#fichaProducto #footer, #login #footer, #altaUsuario #footer, #altaProducto #footer, #logout #footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}

#login label, #altaUsuario label {
	width: 90px;
	margin-left: 5%;
}

#altaProducto label {
	width: 150px;
	margin-left: 5%;
}

.datos {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: 320px;
}

#altaProducto .datos {
	width: 380px;
}

.datosUser a {
	position: relative;
	left: 32%;
}

.datos button {
	margin-top: 5%;
}

p {
	text-align: center;
}

.not-active {
	pointer-events: none;
	font-weight: bold;
}

#fichaProducto .navbar-form, #altaProducto .navbar-form, #altaUsuario .navbar-form,
#login .navbar-form, #logout .navbar-form {
	opacity: 0.5;
    pointer-events: none;
}

#fichaProducto .item button {
	margin-top: 2%;
}

#fichaProducto .item ul {
	text-align: left;
}

/* #index .item:last-child { display: none; } */
