body, html {
	width: 100%;
	height: 100%;	 
}

header, footer {
	width: 100%;
	height: 5%;
	background-color: rgb(23, 57, 127);
}

body {
	font-family: 'Baloo', cursive;
}


/* Sección Main */
#main {
	width: 85%;
	height: 10%;
	background-color: rgb(34, 86, 191);
	float: left;
}

#main article {
	width: 99%;
	height: 80%;
	background-color: rgb(23, 57, 127);
	margin: auto;
}

#main p {
	text-align: center;
	font-size: 300%;
	position: relative;
    top: 50%;
    transform: translateY(-50%);
}


/* Sección Content */
#content {
	width: 85%;
	height: 80%;
	background-color: rgb(34, 86, 191);
	float: left;
}

#content article {
	width: 95%;
    height: 99%;
    /*background-color: cornflowerblue;*/
    background-image: url("../images/music_background.jpg");
	background-repeat: no-repeat;
    background-size: cover;
}

#content p {
	position: relative;
    top: 5%;
    width: 95%;
    margin: auto;
}

/* Animación del texto */
@keyframes moving {
    from {top: 85%;}
    to {top: 5%;}
}

#movetxt {
    animation: moving 3s;
    position:relative;
}


/* Sección Contact */
#contact {
	width: 15%;
	height: 90%;
	background-color: rgb(34, 86, 191);
}

#contact div {
	width: 100%;
	height: 100%;
	background-color: rgb(23, 57, 127);
	margin: auto;
	text-align: center;
}

#contact h2, #contact ul {
	position: relative;
}

#contact h2 {
	top: 5%;
	font-size: 130%;
}

#contact ul {
	top: 10%;
}

#contact li {
	padding-bottom: 20%;
}


/* Classe Contenidor - FlexBox */
.container {
	display: flex;
	justify-content: center;
}


/* Diversos estils */
header div, nav, footer div {
	background-color: rgb(11,29,64);
}

li a, p, h2 {
	color: white;
	text-align: center;
	text-decoration: none;
}


/*@import url('https://fonts.googleapis.com/css?family=Baloo');*/


/* Pantalla de Móvil */
@media screen and (max-width: 480px) {
    #content {
    	flex-flow: column;
    	justify-content: center;
    	padding-bottom: 5%;
    }
}

