body, html {
	width: 100%;
	height: 100%;	 
}

header, footer {
	width: 100%;
	height: 5%;
	background-color: rgb(23, 57, 127);
}

body {
	font-family: 'Baloo', cursive;
}


/* Sección Main */
#main {
	width: 85%;
	height: 10%;
	background-color: rgb(34, 86, 191);
	float: left;
}

#main article {
	width: 99%;
	height: 80%;
	background-color: rgb(23, 57, 127);
	margin: auto;
}

#main p {
	text-align: center;
	font-size: 300%;
	position: relative;
    top: 50%;
    transform: translateY(-50%);
}


/* Sección Content */
#content {
	width: 85%;
	height: 72%;
	background-color: rgb(34, 86, 191);
	float: left;
}

/* Elements - Content */
.item {
	width: 45%;
	height: 90%;
	margin: 2%;
}

.imatge {
	width: 100%;
	height: 60%;
	background-color: white;
}

.info {
	width: 100%;
	height: 40%;
	background-color: cornflowerblue;
	margin: auto;
}

#content p {
	text-align: justify;
    width: 95%;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


/* Sección Paginator */
#paginator {
	width: 85%;
	height: 8%;
	background-color: rgb(34, 86, 191);
	float: left;
}

#paginator div {
	width: 20%;
}

#paginator li {
    float: left;
    margin-left: 22%;
}


/* Sección Contact */
#contact {
	width: 15%;
	height: 90%;
	background-color: rgb(34, 86, 191);
}

#contact div {
	width: 100%;
	height: 100%;
	background-color: rgb(23, 57, 127);
	margin: auto;
	text-align: center;
}

#contact h2, #contact ul {
	position: relative;
}

#contact h2 {
	top: 5%;
	font-size: 130%;
}

#contact ul {
	top: 10%;
}

#contact li {
	padding-bottom: 20%;
}


/* Classe Contenidor - FlexBox */
.container {
	display: flex;
	justify-content: center;
}


/* Diversos estils */
header div, nav, footer div {
	background-color: rgb(11,29,64);
}

li a, p, h2 {
	color: white;
	text-align: center;
	text-decoration: none;
}


/*@import url('https://fonts.googleapis.com/css?family=Baloo');*/


/* Pantalla de Móvil */
@media screen and (max-width: 480px) {
    #content {
    	flex-flow: column;
    	justify-content: center;
    	padding-bottom: 5%;
    }
