/* Sección Content */
article#e1 .imatge {
	background-image: url("../images/gralla.jpg");
	background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 50%;
}

article#e2 .imatge {
	background-image: url("../images/timbal.jpg");
	background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 50%;
}

article#e3 .imatge {
	background-image: url("../images/sac.jpg");
	background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 50%;
}
