/* Sección Content */
article#e1 .imatge {
	background-image: url("../images/icon_composer.png");
	background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 50%;
}

article#e2 .imatge {
	background-image: url("../images/Musician_B.png");
	background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 50%;
}

article#e3 .imatge {
	background-image: url("../images/Musician_A.png");
	background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 50%;
}
