/* Sección Content */
article#e1 .imatge {
	background-image: url("../images/Rock_Music.png");
	background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 50%;
}

article#e2 .imatge {
	background-image: url("../images/Country_Music.png");
	background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 50%;
}

article#e3 .imatge {
	background-image: url("../images/Metal_Music.png");
	background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 50%;
}