/* Sección Content */
article#e1 .imatge {
	background-image: url("../images/Score_1.png");
	background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 50%;
}

article#e2 .imatge {
	background-image: url("../images/Score_2.jpg");
	background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 50%;
}

article#e3 .imatge {
	background-image: url("../images/Score_3.jpg");
	background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 50%;
}
