/* Logo */
header div {
	width: 10%;
	height: 90%;
	margin: auto auto auto 0.5%;
	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
    background-size: cover;
}

/* Menú */
nav {
	width: 42%;
	height: 90%;
	margin: auto 0.5% auto auto;
}

nav ul {
    list-style-type: none;
    height: 100%;
}

nav li {
    float: left;
    display: table;
    height: 100%;
    margin-left: 2%;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

nav a:hover:not(.active) {
    background-color: rgb(23, 57, 127);
}

.active {
    background-color: rgb(34, 86, 191);
}
