body, html {
	width: 100%;
	height: 100%;	 
}

header, footer {
	width: 100%;
	height: 5%;
	background-color: rgb(23, 57, 127);
}

body {
	font-family: 'Baloo', cursive;
}


/* Sección Main */
#main {
	width: 100%;
	height: 50%;
	background-color: rgb(34, 86, 191);	
}

#main article {
	width: 99%;
	height: 98%;
	margin: auto;
	background-image: url("../images/music_background.jpg");
	background-repeat: no-repeat;
    background-size: cover;
}


/* Sección Categories*/
#categories {
	width: 100%;
	height: 30%;
	background-color: rgb(34, 86, 191);
}

#categories article {
	height: 95%;
	margin: auto;
}

#categories a {
	margin: auto;
}

/* Animación de las imágenes */
#categories a img {
	animation: smooth 1s ease-in;
}

@keyframes smooth {
    0% { opacity: 0;}
    100% { opacity: 1;}
}


/* Sección Contact */
#contact {
	width: 100%;
	height: 10%;
	background-color: rgb(34, 86, 191);
}

#contact div {
	width: 20%;
	height: 85%;
	background-color: rgb(23, 57, 127);
	margin: auto;
	text-align: center;
}

#contact h2, #contact ul {
	position: relative;
}

#contact h2 {
	top: 5%;
	font-size: 130%;
}

#contact ul {
	top: 10%;
}

#contact li {
	float: left;
    width: 25%;
    position: relative;
    left: 50%;
    transform: translateX(-100%);
}


/* Classe Contenidor - FlexBox */
.container {
	display: flex;
	justify-content: center;
}


/* Diversos estils */
header div, nav, footer div {
	background-color: rgb(11,29,64);
}

li a, p, h2 {
	color: white;
	text-align: center;
	text-decoration: none;
}


/*@import url('https://fonts.googleapis.com/css?family=Baloo');*/


/* Pantalla de Móvil */
@media screen and (max-width: 480px) {
    #categories {
    	flex-flow: column;
    	justify-content: center;
    	padding-bottom: 5%;
    }

    #categories a img {
		width: 72px;
	}
}

