body {
	background-image: url("../images/music-sheet.jpg");
	background-size: cover;
}

@media screen and (max-width: 1024px) and (min-width: 400px) {
    body {
    	background-size: initial;
    }
}

#header button:hover, #header button:focus,
.dropdown-menu, .dropdown-menu li, .datos, .navbar-default {
	background-color: lightsalmon;
	border-radius: 4px;
}

#footer p, .aviso p {
	margin: 5px;
}

nav li:hover {
    background-color: #e7e7e7;
}

#header button.search:hover {
	background-color: white;
}

#header ul {
	padding-right: 1%;
}

#content {
	margin-top: 50px;
}

#content ul, #descargas {
	background-color: darksalmon;
	color: white;
}

#content h2 {
	text-align: center;
	color: #777;
}

#content ul {
	padding-left: 5%;
	list-style-type: none;
}

.item img, .item #pdf {
	height: 300px;
	margin-top: 3%;
}

.item h2, .item ul, .item #descargas {
	border-radius: 3px;
}

.item a, .categoria a {
	text-decoration: none;
}

.item {
	margin-left: 4%;
	margin-right: 4%;
}

#footer {
	text-align: center;
	color: #777;
}

#acceso label, #altaItem label, #altaItem input[type="submit"],
#bajaUser label, #bajaUser input[type="submit"] {
	width: 90px;
	margin-left: 5%;
	color: #777;
}

#altaItem input[type="submit"], .datos input[type="button"] {
	margin-left: 0;
	margin-top: 5%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	color: black;
}

#fichaItem label {
	width: 130px;
	color: #777;
}

.resultante, .datos, .categorias {
	position: absolute;
	margin-left: 0;
	top: 50%;
	left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.resultante h2 {
	font-weight: bold;
}

.datos {
	width: 400px;
}

.categorias {
    background-color: transparent;
    border: none;
}

.datos input[type="checkbox"], input[type="file"] {
	margin-left: 10%;
}

.datos input[type="file"] {
    width: 260px;
    float: left;
    margin-left: 4px;
}

.lblFichero {
	float: left;
}

.datos p {
	text-align: center;
}

#error {
	margin-top: 2%;
    text-align: center;
}

#fichaItem .item ul {
	text-align: left;
}

.table {
	background-color: white;
	width: 94%;
	margin-left: 3%;
}

.table th, .table td {
	text-align: center;
}

.not-active {
	pointer-events: none;
	font-weight: bold;
}

.dropdown:last-child {
	font-weight: bold;
}

#acceso .navbar-form, #salida .navbar-form, #altaItem .navbar-form, #fichaItem .navbar-form {
	pointer-events: none;
	opacity: 0.5;
}

#descargas {
	text-align: center;
	margin-top: 1%;
}

.btn-warning {
    color: #fff;
    background-color: lightsalmon;
    border-color: #ddd;
    margin: 1% 0 1% 0;
    width: 100px;
    margin-right: 5%;
}

.btn-warning:hover {
    background-color: darksalmon;
    border-color: #ddd;
}

.btn-warning:focus {
    background-color: lightsalmon;
    border-color: #ddd;
}

.categoria {
	margin-bottom: 5%;
	background-color: lightsalmon;
}

.categoria h2 {
	margin-top: 4%;
	margin-bottom: 4%;
}

.categoria:first-child {
	margin-top: 2%;
}

.titulo {
	margin-bottom: 2%;
	padding: 0;
}

.tituloCateg {
	background-color: lightsalmon;
	font-weight: bold;
	margin-left: 15%;
	margin-right: 15%;
}

legend {
	text-align: center;
	font-weight: bold;
	color: #777;
}

#footer .thumbnail {
	background-color: lightsalmon;
	position: absolute;
	margin-bottom: 0;
	bottom: 0;
	width: 100%;
}

input[type="text"], input[type="button"], input[type="submit"],
input[type="password"], select, .table {
	border-radius: 4px;
}

.aviso {
	position: relative;
	margin-top: 20px;
}

#salida .aviso {
	margin-top: 40px;
}

/* #index .item:last-child { display: none; } */
