<div class="col-xs-11 col-md-4 thumbnail categorias">
<% for (var i=0; i<categorias.length; i++) { %>
	<div class="col-md-12 thumbnail categoria" id="<%= categorias[i] %>">
		<a href="index.php?categ=<%= categorias[i] %>"><h2><%= categorias[i] %></h2></a>
	</div>
<% } %>
</div>
