<div class="col-xs-11 col-md-4 thumbnail item resultante text-right" id="item<%= item.id %>">
	<img src="images/<%= item.imagen %>" alt="<%= item.imagen %>">
	<h2><%= item.nombre %></h2>
	<ul>
		<li><label>Nombre:</label><%= item.nombre %></li>
		<li><label>Apellidos:</label><%= item.apellidos %></li>
		<li><label>Direcci&oacute;n:</label><%= item.direccion %></li>
	</ul>
</div>
