<div class="col-xs-11 col-md-4 thumbnail item resultante text-right" id="item<%= item.id %>">
	<img src="images/<%= item.imagen %>" alt="<%= item.imagen %>">
	<h2><%= item.nombre %></h2>
	<ul>
		<li><label>Nombre:</label><%= item.nombre %></li>
		<li><label>Origen:</label><%= item.origen %></li>
	</ul>
</div>
