<div class="col-xs-11 col-md-4 thumbnail item resultante text-right" id="item<%= item.id %>">
	<img src="images/score_icon.png" alt="score_icon.png">
	<h2><%= item.titulo %></h2>
	<ul>
		<li><label>T&iacute;tulo:</label><%= item.titulo %></li>
		<li><label>A&ntilde;o:</label><%= item.anio %></li>
		<li><label>Compositor:</label><%= compositor %></li>
		<li><label>Estilo:</label><%= estilo %></li>
		<li><label>Instrumentos:</label>
		<% for (var i=0; i<instrumentos.length; i++) { %>
			<% if (i < instrumentos.length -1) { %>
			<%= instrumentos[i]['instrumento'] + ' / ' %>
			<% } else { %>
			<%= instrumentos[i][0] %><% } %>
		<% } %>
		</li>
		<li><label>Compartido por:</label><%= item.email_usuario %><br></li>
	</ul>
	<p id="descargas">
		<a class="btn btn-warning" href="pdfs/<%= item.pdf %>">PDF</a>
		<a class="btn btn-warning" href="audios/<%= item.audio %>">Audio</a>
	</p>
</div>
