<div class="col-md-3 thumbnail item" id="item<%= item.id %>">
	<img src="images/<%= item.imagen %>" alt="<%= item.imagen %>">
	<a href="fichaItem.php?<%= categ %>=<%= item.nombre %>"><h2><%= item.nombre %></h2></a>
</div>
