<div class="col-md-3 thumbnail item" id="item<%= item.id %>">
	<img src="images/score_icon.png" alt="score_icon.png">
	<a href="fichaItem.php?<%= categ %>=<%= item.titulo %>"><h2><%= item.titulo %></h2></a>
</div>
