<table class="table">
	<thead>
		<tr><th>Id</th><th>Nombre</th><th>Apellidos</th><th>Direcci&oacute;n</th><th>Imagen</th><th>Acciones</th></tr>
	</thead>
	<tbody>
	<% for (var i=0; i<items.length; i++) { %>
		<tr>
			<td><input type="text" value="<%= items[i].id %>" id="id<%= items[i].id %>" disabled></td>
			<td><input type="text" value="<%= items[i].nombre %>" id="nombre<%= items[i].id %>"></td>
			<td><input type="text" value="<%= items[i].apellidos %>" id="apellidos<%= items[i].id %>"></td>
			<td><input type="text" value="<%= items[i].direccion %>" id="direccion<%= items[i].id %>"></td>
			<td><input type="text" value="<%= items[i].imagen %>" id="imagen<%= items[i].id %>" disabled></td>
			<td>
				<input type="button" id="update<%= items[i].id %>" value="Actualizar" onclick="actualizarCompositor(<%= items[i].id %>)">
				<input type="button" id="delete<%= items[i].id %>" value="Borrar" onclick="borrarCompositor(<%= items[i].id %>)"><br>
				<span id="resultado<%= items[i].id %>"></span>
			</td>
		</tr>
	<% } %>
	</tbody>
</table>
