<table class="table">
	<thead>
		<tr><th>Id</th><th>Nombre</th><th>Origen</th><th>Imagen</th><th>Acciones</th></tr>
	</thead>
	<tbody>
	<% for (var i=0; i<items.length; i++) { %>
		<tr>
			<td><input type="text" value="<%= items[i].id %>" id="id<%= items[i].id %>" disabled=></td>
			<td><input type="text" value="<%= items[i].nombre %>" id="nombre<%= items[i].id %>"></td>
			<td>
				<select id="origenes<%= items[i].id %>">
					<option value="africa" <% if(items[i].origen=='africa') { %> selected <% } %>>&Aacute;frica</option>
					<option value="america" <% if(items[i].origen=='america') { %> selected <% } %>>Am&eacute;rica</option>
					<option value="asia" <% if(items[i].origen=='asia') { %> selected <% } %>>Asia</option>
					<option value="europa" <% if(items[i].origen=='europa') { %> selected <% } %>>Europa</option>
					<option value="oceania" <% if(items[i].origen=='oceania') { %> selected <% } %>>Ocean&iacute;a</option>
				</select>
			</td>
			<td><input type="text" value="<%= items[i].imagen %>" id="imagen<%= items[i].id %>" disabled></td>
			<td>
				<input type="button" id="update<%= items[i].id %>" value="Actualizar" onclick="actualizarEstilo(<%= items[i].id %>)">
				<input type="button" id="delete<%= items[i].id %>" value="Borrar" onclick="borrarEstilo(<%= items[i].id %>)"><br>
				<span id="resultado<%= items[i].id %>"></span>
			</td>
		</tr>
	<% } %>
	</tbody>
</table>