<table class="table">
	<thead>
		<tr><th>Email</th><th>Clave</th><th>Tipo</th><th>Estado</th><th>Acciones</th></tr>
	</thead>
	<tbody>
	<% for (var i=0; i<items.length; i++) { %>
		<tr>
			<td><input type="text" value="<%= items[i].email %>" id="email<%= items[i].email.split('@',1) %>" disabled></td>
			<td><input type="text" value="<%= items[i].clave %>" id="clave<%= items[i].email.split('@',1) %>"></td>
			<td>
				<select id="tipos<%= items[i].email.split('@',1) %>">
					<option value="adm" <% if(items[i].tipo=='adm') { %> selected <% } %>>Administrador</option>
					<option value="usr" <% if(items[i].tipo=='usr') { %> selected <% } %>>Usuario</option>
				</select>
			</td>
			<td>
				<select id="estados<%= items[i].email.split('@',1) %>">
					<option value="1" <% if(items[i].estado==1) { %> selected <% } %>>Activo</option>
					<option value="0" <% if(items[i].estado==0) { %> selected <% } %>>Inactivo</option>
				</select>
			</td>
			<td>
				<input type="button" id="update<%= items[i].email.split('@',1) %>" value="Actualizar" onclick="actualizarUsuario('<%= items[i].email.split('@',1) %>')">
				<input type="button" id="delete<%= items[i].email.split('@',1) %>" value="Borrar" onclick="borrarUsuario('<%= items[i].email.split('@',1) %>')"><br>
				<span id="resultado<%= items[i].email.split('@',1) %>"></span>
			</td>
		</tr>
	<% } %>
	</tbody>
</table>
