body {
  font-family: 'Baloo', cursive;
  background: linear-gradient(to right, white, cornflowerblue, white);
}

h2, h3 {
	text-align: center;
	color: white;
}

/* HEADER */
#header img {
  margin-top: 5px;
  margin-left: 15px;
  width: 38px;
}

#header a {
  color: white;
}

.navbar-collapse, .navbar-header, .navbar-toggle:hover, .navbar-toggle:focus {
  background-color: rgb(11,29,64) !important;
}

.navbar-collapse, .navbar-header {
  border-radius: 4px;
}

.navbar-toggle {
  border: none;
}

.navbar-toggle .icon-bar {
  background-color: white !important;
}

.navbar-right {
  margin-right: 5px;
}

/* MAIN */
#main {
  margin-top: 70px;
  text-align: center;
}

#main p {
  color: white;
}

#main .thumbnail {
  background-image: url("../images/music_background.jpg");
}

/* PARTITURES / ESTILS / INSTRUMENTS / COMPOSITORS */
#partitures img, #estils img, #instruments img, #compositors img {
  width: 300px;
  height: 300px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5%;
  background-color: white;
  border-radius: 4px;
}

#partitures img {
  height: 400px;
}

#partitures .item a {
  margin-bottom: 5px;
  margin-left: 2%;
  margin-right: 2%;
  width: 105px;
}

#partitures p, #estils p, #instruments p, #compositors p, #contacte p {
  text-align: center;
}

#carouselPartitures, #carouselEstils, #carouselInstruments, #carouselCompositors {
  background-color: rgb(34, 86, 191);
  border-radius: 4px;
}

#partitures ul, #estils ul, #instruments ul, #compositors ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* CONTACTE */
#contacte img {
  width: 42px;
}

/* FOOTER */
#footer h2 {
  background-color: rgb(11,29,64);
}


/* CLASSES PRÒPIES */
.titulo {
	background-color: rgb(23, 57, 127);
}

.datosItem {
  background-color: cornflowerblue;
  border-radius: 4px;
}


/* CUSTOM CAROUSEL */
.carousel-showthree .carousel-control {
  width: 4%;
  background-image: none;
}

.carousel-showthree .carousel-control.left {
  margin-left: 5px;
}
.carousel-showthree .carousel-control.right {
  margin-right: 5px;
}

.carousel-showthree .cloneditem-1,
.carousel-showthree .cloneditem-2,
.carousel-showthree .cloneditem-3 {
  display: none;
}

@media all and (min-width: 768px) {
  .carousel-showthree .carousel-inner > .active.left,
  .carousel-showthree .carousel-inner > .prev {
    left: -33.333%;
  }
  .carousel-showthree .carousel-inner > .active.right,
  .carousel-showthree .carousel-inner > .next {
    left: 33.333%;
  }
  .carousel-showthree .carousel-inner > .left,
  .carousel-showthree .carousel-inner > .prev.right,
  .carousel-showthree .carousel-inner > .active {
    left: 0;
  }
  .carousel-showthree .carousel-inner .cloneditem-1,
  .carousel-showthree .carousel-inner .cloneditem-2 {
    display: block;
  }
}

@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
  .carousel-showthree .carousel-inner > .item.active.right,
  .carousel-showthree .carousel-inner > .item.next {
    -webkit-transform: translate3d(33.333%, 0, 0);
            transform: translate3d(33.333%, 0, 0);
    left: 0;
  }
  .carousel-showthree .carousel-inner > .item.active.left,
  .carousel-showthree .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-33.333%, 0, 0);
            transform: translate3d(-33.333%, 0, 0);
    left: 0;
  }
  .carousel-showthree .carousel-inner > .item.left,
  .carousel-showthree .carousel-inner > .item.prev.right,
  .carousel-showthree .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    left: 0;
  }
}

@media all and (min-width: 992px) {
  .carousel-showthree .carousel-inner > .active.left,
  .carousel-showthree .carousel-inner > .prev {
    left: -16.666%;
  }
  .carousel-showthree .carousel-inner > .active.right,
  .carousel-showthree .carousel-inner > .next {
    left: 16.666%;
  }
  .carousel-showthree .carousel-inner > .left,
  .carousel-showthree .carousel-inner > .prev.right,
  .carousel-showthree .carousel-inner > .active {
    left: 0;
  }
  .carousel-showthree .carousel-inner .cloneditem-3,
  .carousel-showthree .carousel-inner .cloneditem-4,
  .carousel-showthree .carousel-inner .cloneditem-5 {
    display: block;
  }
}

@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
  .carousel-showthree .carousel-inner > .item.active.right,
  .carousel-showthree .carousel-inner > .item.next {
    -webkit-transform: translate3d(16.666%, 0, 0);
            transform: translate3d(16.666%, 0, 0);
    left: 0;
  }
  .carousel-showthree .carousel-inner > .item.active.left,
  .carousel-showthree .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-16.666%, 0, 0);
            transform: translate3d(-16.666%, 0, 0);
    left: 0;
  }
  .carousel-showthree .carousel-inner > .item.left,
  .carousel-showthree .carousel-inner > .item.prev.right,
  .carousel-showthree .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    left: 0;
  }
}

/*
body > div:last-child { display: none; } 
*/ 

.contenedor:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  width: 300px;
  height: 300px;
  opacity: 0;
  transition: .5s fast;
  background-color: cornflowerblue;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5%;
  border-radius: 4px;
}

.overlayPart {
  height: 400px;
}