h1, form, #modifyCV {
	float: left;
	width: 70%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 1%;
}

h1 {
	width: 69%;
	text-align: center;
	font-size: 300%;
	border: 2px solid black;
	border-radius: 5px;
	color: azure;
	background-color: darkcyan;
}

fieldset {
	border-radius: 5px;
	background-color: floralwhite;
}

label {
	width: 120px;
	display: inline-block;
}

input[type="button"] {
	height: 35px;
}

input[type="text"], select {
	outline: none;
	margin-right: 2%;
}

span {
	color: red;
	float: right;
}

#modifyCV {	
    margin: 3% 0 3% 0;
}

.clear {
	clear: both;
}

.incorrect {
	border: 1px solid red;
	color: red;
	background-color: bisque;
}

.correct {
	border: 1px solid green;
	color: green;
	background-color: azure;
}

